<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input (keyup)="searchPacientes(input.value)" type="text" class="form-control" placeholder="Buscar Paciente...">
      </div>
    </div>
  </div>
</div>
<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button [routerLink]="['/new-paciente', 'nuevo']" type="button" class="btn waves-effect waves-ligth btn-rounded btn-primary">
            <i class="fa fa-plus"></i> Crear Paciente
          </button>
        </div>
        <h3 class="card-title">Pacientes registrados (<small>{{_pacientesService.totalPacientes}}</small>)</h3>

        <table class="table full-color-table full-inverse-table hover-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI</th>
              <th>Obra Social</th>
              <th>Fecha Nac.</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paciente of pacientes">
              <td>{{paciente.nombre}}</td>
              <td>{{paciente.apellido}}</td>
              <td>{{paciente.dni}}</td>
              <td>{{paciente.obraSocial.nombre}}</td>
              <td>{{paciente.fechaNac | date: 'dd/MM/yyyy'}}</td>
              <td>
                <button [routerLink]="['/estudio', paciente._id]" class="btn btn-primary">
                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="eliminarMedico(paciente)" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>                
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
          Anterior
        </button>
        <button (click)="cambiarDesde(+5)" class="btn btn-secondary">
          Siguiente
        </button> -->
      </div>
    </div>
  </div>
</div>